body {
  margin: 0 auto;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  max-width: 768px !important;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: container;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
}
ul .home-li {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  border-radius: 99999px;
  -webkit-transition: box-shadow 0.125s ease-in-out;
  transition: box-shadow 0.125s ease-in-out;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: auto;
}
ul .navLink {
  float: left;
}
ul .navLink a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul .navLink a:hover:not(.active) {
  background-color: #8c16f4;
}
.pageBody {
  background-color: #8c16f4;
  height: 100vh;
}
#wrap {
  display: flex;
  justify-content: center;
  padding: 5%;
}
#wrap .leftBox,
#wrap .rightBox {
  background: #f5f5f5;
  padding: 2%;
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 7px;
}
.filteredUser {
  padding: 10px;
  background-color: #eeeeee;
  margin-bottom: 10px;
  border-radius: 5px;
}
.filteredUser img {
  width: 10px;
  cursor: pointer;
}
.no-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
